{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body mx-auto">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" class="rounded-circle" style="width:200px" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="rounded-circle" style="width:200px" alt="Profile Picture">
                {% endif %}
            </div>
            <p class="lead text-center">{{ user.first_name|add:" " }}{{ user.last_name }}{% if user.is_verified %}<i
                    class="bi bi-patch-check-fill" style="font-size: 1rem; color: rgb(3, 90, 252);"></i>{% endif %}</p>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><b>Active Profile</b></li>
                <li class="list-group-item">
                    <p class="text-center">
                        Profile ID<br><b>{{ user.profile_number }}</b>
                    </p>
                    <p class="text-center">
                        Created Date<br><b>{{user.date_joined|date:"d-m-Y"}}</b>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <h3 class="card-header">
                My Profile <a href="{% url 'edit_profile' %}" class="btn btn-md btn-outline-primary float-end"><i
                        class="bi bi-pencil-square"></i> Edit</a>
            </h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Username</li>
                            <li class="list-group-item">Email Address</li>
                            <li class="list-group-item">Phone Number</li>
                            <li class="list-group-item">Location</li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>{{user.username}}</b></li>
                            <li class="list-group-item"><b>{{user.email}} <span class="badge text-bg-success">verified</span></b></li>
                            <li class="list-group-item"><b>{{user.phone}}</b></li>
                            <li class="list-group-item"><b>{{user.location}}</b></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    Scammer submitted
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Voted scammers
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Date Reported</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reported_scammer in reported_scammers %}
                                <tr>
                                    <td>{{ reported_scammer.name}}</td>
                                    <td>{{ reported_scammer.category.name}}</td>
                                    <td>{{ reported_scammer.location.name}}</td>
                                    <td>{{ reported_scammer.date_reported|date:"d-m-Y"}}</td>
                                    <td><a href="/scammer-details/{{reported_scammer.id}}" class="btn btn-link btn-sm">view cases</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Date Reported</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for voted_scammer in voted_scammers %}
                                <tr>
                                    <td>{{ voted_scammer.name}}</td>
                                    <td>{{ voted_scammer.category.name}}</td>
                                    <td>{{ voted_scammer.location.name}}</td>
                                    <td>{{ voted_scammer.date_reported|date:"d-m-Y"}}</td>
                                    <td><a href="/scammer-details/{{voted_scammer.id}}" class="btn btn-link btn-sm">view cases</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}