{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <h3 class="card-header">Search and Create</h3>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.phone_number.id_for_label }}" class="form-label">
                            {{ form.phone_number.label }}
                        </label>

                        <!-- Render the input field with a custom class -->
                        {{ form.phone_number }}
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Search/Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}