html, body {
    font-family: Inter, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.alert-error{
    --bs-alert-color:#58151c;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color:#f1aeb5;
    --bs-alert-link-color:#ea868f;
}