{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                Submit new scammer case details
            </div>
            <div class="card-body">
                <form action="{% url 'newcase' scammer_id=scammer.id %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="account_name" class="form-label">Account Name</label>
                                <input type="text" class="form-control" id="account_name" name="account_name">
                                <div class="form-text"><em>*optional</em></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="account_number" class="form-label">Account Number</label>
                                <input type="text" class="form-control" id="account_number" name="account_number">
                                <div class="form-text"><em>*optional</em></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="bank_name" class="form-label">Bank Name</label>
                                <input type="text" class="form-control" id="bank_name" name="bank_name">
                                <div class="form-text"><em>*optional</em></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="case_details" class="form-label">Case details</label>
                        <textarea rows="3" type="text" class="form-control" id="case_details" name="case_details" required></textarea>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="date_reported" class="form-label">Date Reported</label>
                                <input type="date" id="date_reported" name="date_reported" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-select" id="category" name="category" aria-label="Default select example"
                                    required>
                                    <option selected></option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label for="police_report" class="form-label">Police Report?</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="police_report" id="police_report_yes" value="yes">
                                    <label class="form-check-label" for="police_report_yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="police_report" id="police_report_no" value="no">
                                    <label class="form-check-label" for="police_report_no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}