{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body mx-auto">
                <img src="{% static 'images/placeholder.png' %}" class="img-fluid" style="width:200px"
                    alt="img-profile">
            </div>
            <p class="lead text-center">{{ scammer.name }}</p>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><b>Scammer Profile</b></li>
                <li class="list-group-item">
                    <p class="text-center">
                        Phone Number<br><b>{{ scammer.phone }}</b>
                    </p>
                    <p class="text-center">
                        Category<br><b>{{ scammer.category }}</b>
                    </p>
                    <p class="text-center">
                        Location<br><b>{{ scammer.location }}</b>
                    </p>
                    <p class="text-center">
                        Total Voted<br><b>{{total_votes}}</b><br>
                        {% for voter in voters %}
                        <img src="{% static 'images/placeholder.png' %}" class="img-fluid" style="width:30px"
                    alt="img-profile" title="{{ voter.username }}">
                        {% endfor %}
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <h5 class="card-header">
                Scammer Profile
                <div class="btn-group float-end" role="group" aria-label="Basic example">
                    {% if request.user in scammer.voters.all %}
                    <a href="{% url 'vote-unvote-scammer' scammer_id=scammer.id %}" class="btn btn-sm btn-secondary">Unvote</a>
                    {% else %}
                    <a href="{% url 'vote-unvote-scammer' scammer_id=scammer.id %}" class="btn btn-sm btn-primary">Vote</a>
                    {% endif %}
                    <a href="{% url 'scammerlist' %}" class="btn btn-sm btn-outline-primary">Back</a>
                </div>
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p><b>Brief Introduction</b><br>{{ scammer.brief_intro }}</p>
                        <p><b>Modus Operandi</b><br>{{ scammer.modus_operandi }}</p>
                        <div class="row">
                            <div class="col-4">
                                <p><b>Reported by</b><br>{{ scammer.reported_by.first_name|add:" " }}{{ scammer.reported_by.last_name }} {% if scammer.reported_by.is_verified %}<i class="bi bi-patch-check-fill" style="font-size: 1rem; color: rgb(3, 90, 252);"></i>{% endif %}</p>
                            </div>
                            <div class="col-4">
                                <p><b>Date Reported</b><br>{{scammer.date_reported|date:"d-m-Y"}}</p>
                            </div>
                            <div class="col-4">
                                <p><b>Last Date Reported</b><br>{{scammer.last_date_reported|date:"d-m-Y"}}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% if user.is_authenticated %}
                    <div class="col-12">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ comment_form.as_p }}
                                <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill"></i> Submit</button>
                            </div>
                        </form>
                    </div>
                    <hr>
                    {% endif %}
                </div>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Comments <span class="badge text-bg-secondary">{{total_comments}}</span>
                      </button>
                      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Cases
                      </button>
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                        <ol class="list-group list-group-flush">
                            {% for comment in comments %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ comment.user.first_name|add:" " }}{{ comment.user.last_name }} {% if comment.user.is_verified %}<i class="bi bi-patch-check-fill" style="font-size: 1rem; color: rgb(3, 90, 252);"></i>{% endif %}</div>
                                {{ comment.comment }}
                                </div>
                                <span class="badge bg-primary rounded-pill">
                                {{ comment.timestamp|date:"d-m-Y" }}
                                </span>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                        Hello world
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}